---
import { Badge, Icon } from '@astrojs/starlight/components'

interface Props {
  links?: {
    docs?: string
    api?: string
  }
}

const { links } = Astro.props
---

<div class='flex flex-wrap gap-x-4 gap-y-2'>
  {
    links?.docs && (
      <a
        href={links?.docs}
        class='flex items-center gap-x-1'
        target='_blank'
        rel='noreferrer noopener'>
        <Badge text='Docs' />
        <Icon name='external' />
      </a>
    )
  }

  {
    links?.api && (
      <a
        href={links?.api}
        class='flex items-center gap-x-1'
        target='_blank'
        rel='noreferrer noopener'>
        <Badge text='API Reference' />
        <Icon name='external' />
      </a>
    )
  }
</div>
